*{
    margin: 0;
    padding: 0;
    background-color: #020B25;
}

.panel{
    border: 1px solid #051648;
    margin: 5% auto;
    width: 20%;
    background-color: #051648;

}

form {
    border: 1px solid #051648;
    /*padding: 20px;*/
    margin: 5% auto;
    width: 30%;
    background-color: #051648;
}

h1{
    color:#fff;
    margin-top: 40px;
}

label{
    color:#fff;
    font-size: 25px;
    margin: 20px 0 10px 20px;
}

.field{
    font-size: 22px;
    width: 300px;
    height: auto;
    margin: 20px;
    /*margin-bottom:10px;*/
    background-color:#fff;
}

.btn{
    background-color: #054805;
    color: #fff;
    width: 80px;
    height: 20px;
    margin: 10px 0 20px 20px;
    cursor: pointer;
}